.language-dropdown-toggle {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: none;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    outline: none;
    vertical-align: middle;
  }
  .language-dropdown-toggle:focus {
    outline: none;
  }
  .language-dropdown-toggle span {
    margin: 0 4px 0 8px;
  }
  .language-dropdown-content {
    font-size: 14px;
  }
  .language-dropdown {
    line-height: 24px;
  }
  .logo-link {
    width: 100%;
    max-width: 200px;
    display: flex;
  }
  .logo-link span {
    flex: 1 0 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
  }
  .logo-link img {
    flex-basis: auto;
    width: 156px;
    height: 45px;
  }
  .light .logo-link {
    color: #ffb61e;
  }
  .mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s;
  }
  .mega-menu.active {
    opacity: 1;
    visibility: visible;
  }
  .mega-menu .rs-grid-container {
    border-top: 1px solid #e4e4e4;
    position: relative;
    z-index: 11;
  }
  .mega-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  .mega-menu-list {
    padding: 32px 10px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, auto);
  }
  .mega-menu-item {
    max-width: 254px;
  }
  .mega-item-title {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }
  .mega-item-title svg {
    margin-left: 15px;
    vertical-align: baseline;
    color: #ffb61e;
  }
  .mega-item-title a[target="_blank"] svg {
    transform: rotate(-45deg);
  }
  .mega-item-content {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 19px;
  }
  @media screen and (max-width: 1199px) {
    .mega-menu {
        display: none;
    }
  }
  .accordion-title {
    font-size: 18px;
    font-weight: 500;
  }
  .accordion-action {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    text-align: left;
  }
  .accordion-content {
    height: 0;
    font-size: 17px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }
  .accordion-content li {
    margin: 15px 0;
  }
  .accordion-content a {
    display: inline-block;
    padding: 15px 5px;
    background-color: transparent;
    border: none;
    color: #666;
  }
  .accordion-content a:active {
    color: #1e1e1e;
    text-decoration: underline;
  }
  .accordion-item {
    margin: 15px 0;
  }
  .accordion-item.active .accordion-content {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  .header {
    width: 100%;
    min-height: 90px;
    z-index: 10;
    position: relative;
  }
  .header h2 {
    margin: 0 0 2px;
    line-height: 90px;
  }
  .header .rs-dropdown-menu {
    min-width: 120px;
  }
  .header-main {
    width: 100%;
    padding: 23px 0;
    z-index: 10;
    position: relative;
  }
  .header-main.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .header-logo {
    flex: 0 0 156px;
    position: relative;
  }
  .header-menu {
    flex: 1 0 980px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: height 0.2s;
  }
  .header-menu-list {
    padding: 0 10px;
    margin: 0;
    list-style: none;
    text-align: right;
  }
  .header-menu-item {
    display: inline-block;
    padding: 0 8px;
  }
  .header-menu-btn {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    outline: none;
    vertical-align: middle;
    position: relative;
    z-index: 22;
  }
  .header-menu-btn img {
    transform: translate(3px, -50%);
  }
  .get-button,
  .header-menu-btn img {
    position: absolute;
    left: auto;
    top: 50%;
    bottom: auto;
    right: 0;
  }
  .get-button {
    height: 36px;
    width: 120px;
    padding: 0 12px;
    text-align: center;
    font-size: 13px;
    line-height: 36px;
    font-weight: 400;
    border-radius: 18px;
    transform: translateY(-50%);
  }
  .mobile-menu-btn {
    border: none;
    width: 24px;
    height: 24px;
    z-index: 99;
    left: auto;
    right: 15px;
  }
  .mobile-menu-btn,
  .mobile-menu-btn span {
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
  .mobile-menu-btn span {
    border-top: 2px solid;
    height: 2px;
    width: 100%;
    left: 0;
    right: auto;
  }
  .mobile-menu-btn:before {
    top: 0;
  }
  .mobile-menu-btn:after,
  .mobile-menu-btn:before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    transform: translateY(0) rotate(0);
    transition: transform 0.2s;
    transform-origin: center;
  }
  .mobile-menu-btn:after {
    bottom: 0;
  }
  .mobile-menu {
    width: 100%;
    margin-top: 45px;
    padding-left: 45px;
    opacity: 0;
    visibility: hidden;
  }
  .header.open .mobile-menu-btn span {
    border-color: transparent;
  }
  .header.open .mobile-menu-btn:before {
    transform: translateY(11px) rotate(45deg);
  }
  .header.open .mobile-menu-btn:after {
    transform: translateY(-11px) rotate(-45deg);
  }
  .header.open .mobile-menu {
    opacity: 1;
    visibility: visible;
  }
  @media screen and (min-width: 1200px) {
    .mobile-menu,
    .mobile-menu-btn {
        display: none;
    }
  }
  @media screen and (max-width: 1199px) {
    .header-logo {
        flex-basis: 100%;
    }
    .header-logo h2 {
        padding-right: 80px;
    }
    .header-menu {
        flex-basis: 100%;
        height: 0;
        align-items: flex-start;
    }
    .header-menu-list {
        width: 100%;
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .header-menu-btn,
    .header-menu-item {
        width: 100%;
        text-align: left;
    }
    .header-menu-btn {
        padding: 25px 15px;
    }
    .header-menu-list {
        display: none;
    }
    .header.open {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
    }
    .header.open .header-menu {
        height: 370px;
    }
    .language-dropdown {
        position: absolute;
        top: 0;
        right: 60px;
        transform: translateY(-33px);
    }
    .language-dropdown-toggle span {
        display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .header-logo {
        padding-left: 25px;
    }
  }
  .light .header {
    background-color: transparent;
    color: #1e1e1e;
  }
  .light .header .header-logo h2 span {
    border-color: hsla(0, 0%, 100%, 0.5);
  }
  .light .header.active,
  .light .header.open {
    border-color: transparent;
    background-color: #fff;
  }
  .light .header-main,
  .light .header-menu-btn {
    background-color: transparent;
  }
  .light .header-menu-btn:focus {
    outline: none;
  }
  .light .mobile-menu-btn {
    background-color: transparent;
    outline: none;
  }
  .light .mobile-menu-btn span {
    border-color: #1e1e1e;
  }
  .light .mobile-menu-btn:after,
  .light .mobile-menu-btn:before {
    background-color: #1e1e1e;
  }
  .light .get-button {
    background-color: #ffb61e;
    color: #fff;
  }
  .footer {
    padding-bottom: 50px;
  }
  .footer h5 {
    font-size: 20px;
  }
  .footer-container {
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 1px solid;
  }
  .copyright h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 3.6rem;
    font-weight: 500;
  }
  .footer-media {
    margin-top: 26px;
  }
  .footer-link {
    display: inline-block;
    vertical-align: middle;
  }
  .footer-link img {
    width: 20px;
    height: 20px;
  }
  .footer-link + .footer-link {
    margin-left: 2rem;
  }
  .footer-nav-list {
    flex: 1 1 auto;
    max-width: 750px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }
  .footer-nav {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
  .footer-nav h5,
  .footer-nav li {
    margin-bottom: 16px;
  }
  .light .footer {
    background-color: #fff;
  }
  .light .copyright {
    color: #ffb61e;
  }
  .light .footer-container {
    border-color: #e4e4e4;
  }
  @media screen and (max-width: 1199px) {
    .footer {
        padding: 20px 0 0;
    }
  }
  @media screen and (max-width: 767px) {
    .footer-link img {
        width: 24px;
    }
    .footer-link + .footer-link {
        margin-left: 28px;
    }
    .footer-nav-list {
        grid-template-columns: 1fr;
    }
    .footer-meta,
    .footer-nav {
        text-align: center;
    }
    .footer-meta {
        padding: 1.6rem 0 2.4rem;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-meta,
    .footer-meta .logo-link {
        justify-content: center;
    }
    .footer-container {
        flex-direction: column-reverse;
    }
  }
  .primary-link {
    display: inline-block;
    height: 62px;
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #ffb61e;
    border-radius: 31px;
    text-align: center;
  }
  .primary-link.purple {
    background-color: #4525d0;
    color: #fff;
  }
  .primary-link.green {
    background-color: #ffb61e;
    color: #fff;
  }
  .primary-link.transparent {
    background-color: transparent;
    color: #ffb61e;
  }
  .page-title {
    text-align: center;
  }
  .page-title h1 {
    max-width: 74.9rem;
    margin: 0 auto 5.4rem;
    font-size: 9.6rem;
    line-height: 11.6rem;
    font-weight: 400;
    font-family: Inferi Normal, Times New Roman, serif;
  }
  .title-btn {
    width: 185px;
  }
  .title-btn + .title-btn {
    margin-left: 30px;
  }
  .light .page-title h1 {
    color: #1e1e1e;
  }
  @media screen and (max-width: 991px) {
    .page-title h1 {
        font-size: 6.6rem;
        line-height: 9.6rem;
    }
  }
  @media screen and (max-width: 767px) {
    .page-title h1 {
        font-size: 4.6rem;
        line-height: 6.6rem;
    }
    .title-btn {
        width: 100%;
        max-width: 320px;
    }
    .title-btn + .title-btn {
        margin: 20px 0 0;
    }
  }
  .protocol {
    padding: 10.4rem 0 7.2rem;
  }
  .protocol .flex-box-grid {
    padding: 0 40px;
    align-items: center;
    flex-wrap: nowrap;
  }
  .protocol-img {
    flex: 0 0 41.8rem;
  }
  .protocol-content {
    flex: 1 1 auto;
    padding-left: 3.8rem;
  }
  .protocol-content p {
    line-height: 2.6rem;
    font-weight: 400;
    font-family: Inter Roman;
  }
  .protocol-content p + p {
    margin-top: 2.2rem;
  }
  .protocol-title {
    margin-bottom: 3.4rem;
    font-size: 3rem;
    line-height: 4.2rem;
    font-weight: 400;
    font-family: Inferi Normal;
  }
  @media screen and (min-width: 1200px) {
    .protocol-img img {
        transition: transform 0.3s;
        will-change: transform;
        transform: rotate(0deg) scale(1);
    }
    .protocol-img img:hover {
        transform: rotate(2deg) scale(1.03);
    }
  }
  @media screen and (max-width: 991px) {
    .protocol .flex-box-grid {
        position: relative;
    }
    .protocol-img {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%);
        z-index: 0;
    }
    .protocol-img img {
        opacity: 0.15;
    }
    .protocol-content {
        padding: 0;
        position: relative;
        z-index: 1;
    }
  }
  @media screen and (max-width: 767px) {
    .protocol {
        padding-left: 0;
    }
    .protocol-img {
        transform: translate(0);
    }
    .protocol-content {
        text-align: center;
    }
    .protocol-title {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }
  }
  .strength .section-title {
    margin-bottom: 3.5rem;
  }
  .strength-feature {
    max-width: 92rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .feature-item {
    flex: 0 1 44rem;
    margin: 1rem;
    padding: 2.5rem 5rem 2.5rem 3.6rem;
    border-radius: 6px;
    position: relative;
    transition: all 0.2s;
    will-change: transform;
    transform: scale(1);
  }
  .feature-item:hover {
    transform: scale(1.03);
  }
  .feature-icon {
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
    z-index: 1;
  }
  .feature-title {
    font-size: 1.8rem;
    line-height: 4.2rem;
  }
  .feature-content {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  .light .feature-item {
    color: #1e1e1e;
    background-color: hsla(0, 0%, 100%, 0.5);
    -o-border-image: linear-gradient(0deg, hsla(0, 0%, 91.8%, 0.7), hsla(0, 0%, 91%, 0.7)) 1 1;
    border-image: linear-gradient(0deg, hsla(0, 0%, 91.8%, 0.7), hsla(0, 0%, 91%, 0.7)) 1 1;
    box-shadow: 1px 6px 30px 0 rgba(0, 0, 0, 0.06), 1px 10px 30px 0 rgba(0, 0, 0, 0.02);
  }
  @media screen and (max-width: 991px) {
    .feature-item {
        flex-basis: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    .feature-title {
        line-height: 3.2rem;
    }
    .feature-item {
        margin: 1rem 0;
        border-radius: 6px;
    }
  }
  .usage-container {
    max-width: 66.5rem;
    margin: 6.2rem auto 0;
  }
  .usage-title {
    margin-bottom: 1.4rem;
    font-size: 3rem;
    line-height: 3.6rem;
    font-weight: 400;
    font-family: Inferi Normal;
  }
  .usage-text {
    margin-bottom: 5.3rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
  .usage-item-title {
    font-size: 1.8rem;
    line-height: 3.6rem;
    position: relative;
    z-index: 1;
  }
  .usage-content {
    margin-top: 15.5rem;
    font-size: 1.3rem;
    line-height: 2rem;
    position: relative;
    z-index: 1;
  }
  .usage-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
  .arrow-icon {
    margin: 0;
    line-height: 1;
  }
  .usage-list {
    max-width: 94.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .usage-item {
    flex: 0 1 30rem;
    padding: 3.9rem 2.3rem 2.4rem;
    border-radius: 20px;
    position: relative;
  }
  .light .usage-item {
    color: #1e1e1e;
    box-shadow: 1px 6px 30px 0 rgba(0, 0, 0, 0.1);
  }
  .light .usage-item.white {
    background-color: #fff;
  }
  .light .usage-item.yellow {
    background-color: #fec516;
  }
  .light .usage-item.black {
    background-color: #1e1e1e;
    color: #fff;
  }
  @media screen and (max-width: 991px) {
    .usage-item {
        flex-basis: 100%;
        margin-bottom: 2rem;
    }
    .usage-container,
    .usage-list {
        max-width: 45rem;
    }
  }
  @media screen and (max-width: 767px) {
    .usage-container,
    .usage-list {
        max-width: 100%;
    }
    .usage {
        text-align: center;
    }
    .usage-item {
        border-radius: 6px;
    }
  }
  .task {
    padding: 9.7rem 0 1.8rem;
  }
  .task .section-title {
    margin-bottom: 4.5rem;
    text-align: left;
  }
  .task p {
    margin-bottom: 3.5rem;
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
  .task strong {
    font-weight: 700;
  }
  .task-container {
    max-width: 66.5rem;
    margin: 0 auto;
  }
  @media screen and (max-width: 991px) {
    .task-container {
        max-width: 45rem;
    }
  }
  @media screen and (max-width: 767px) {
    .task {
        text-align: center;
    }
    .task .section-title {
        margin-bottom: 3rem;
        text-align: center;
    }
    .task p {
        font-size: 1.8rem;
    }
  }
  .main {
    margin-top: -90px;
    padding: 289px 0 0;
    box-sizing: border-box;
  }
  .home {
    position: relative;
  }
  .home:after,
  .home:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  .home:after,
  section {
    z-index: 1;
  }
  section {
    position: relative;
  }
  .section-title {
    font-size: 4.8rem;
    line-height: 5.2rem;
    font-weight: 400;
    text-align: center;
    font-family: Inferi Normal;
  }
  .home.light {
    color: #1e1e1e;
  }
  .home.light:before {
    background: radial-gradient(50% 50% at 50% 50%, #ffb61e 0, #fffeec 100%);
    opacity: 0.15;
  }
  .home.light:after {
    background: url(/public/assets/images/noise_bg.png);
    mix-blend-mode: overlay;
    background-blend-mode: overlay;
    opacity: 0.05;
  }
  @media screen and (max-width: 991px) {
    .main {
        padding-top: 20.9rem;
    }
  }
  @media screen and (max-width: 767px) {
    .main {
        padding-top: 15.9rem;
    }
    .section-title {
        font-size: 3.2rem;
    }
  }
  